.scrolling {
  transform: translateX(100%);
  animation: scrolling 15s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
