.scrolling {
  width: 100%;
  height: 20px;
  position: relative;
  overflow: hidden;
}

.scrolling span {
  width: 100%;
  position: absolute;
  bottom: 6px;
  transform: translateX(100%);
  animation: scrolling 50s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
